<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Powerpuff Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
</head>

<body>
<div th:replace="header :: copy"></div>

<form action="/payment" method="post">
    <input type="hidden" name="orderId" th:value="${orderId}"/>
    <!--SHIPPING METHOD-->
    <div class="panel panel-default">
        <div class="panel-heading">Address</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Personal data</h4>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12"><strong>Name:</strong></div>
                <div class="col-md-12">
                    <input type="text" class="form-control" name="name" value="" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12"><strong>Email Address:</strong></div>
                <div class="col-md-12"><input type="email" name="email_address" class="form-control" value="" required="required"/></div>
            </div>
            <div class="form-group">
                <div class="col-md-12"><strong>Phone Number:</strong></div>
                <div class="col-md-12"><input type="tel" name="phone_number" class="form-control" value="" required="required"/></div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <h4>Shipping Address</h4>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12"><strong>Country:</strong></div>
                <div class="col-md-12">
                    <input type="text" class="form-control" name="shipCountry" value="" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12"><strong>City:</strong></div>
                <div class="col-md-12">
                    <input type="text" name="shipCity" class="form-control" value="" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12"><strong>Address:</strong></div>
                <div class="col-md-12">
                    <input type="text" name="shipAddress" class="form-control" value="" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                <div class="col-md-12">
                    <input type="text" name="shipZip_code" class="form-control" value="" required="required"/>
                </div>
            </div>

            <div class="row">
                <div id="cart-page-back" class="col-md-6">
                    <button type="button" class="btn" onclick="location.href='/payment';">Back</button>
                </div>
                <div id="pay-button" class="col-md-6">
                    <button class="btn" type="submit">Pay with credit card</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="panel panel-paypal panel-default">
    <div class="panel-heading">PayPal</div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="paypal-button">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_cart"/>
                    <input type="hidden" name="upload" value="1"/>
                    <input type="hidden" name="business" value="sevendiko@gmail.com"/>
                    <input type="hidden" name="item_name_1" value="Shopping cart"/>
                    <input type="hidden" name="amount_1" th:value="${price}"/>
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0"
                           name="submit" alt="PayPal - The safer, easier way to pay online!"/>
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                         height="1"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: copy"></div>
</body>
</html>